{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "rules": {
        "import/prefer-default-export": "off",
        "no-extra-semi": "off",
        "@typescript-eslint/no-extra-semi": "error",
        "quotes": ["error", "single", { "allowTemplateLiterals": true }],
        "space-before-function-paren": ["error", "never"],
        "@typescript-eslint/explicit-member-accessibility": "off"
    },
    "overrides": [
        {
            // enable the rule specifically for TypeScript files
            "files": ["*.ts", "*.mts", "*.cts", "*.tsx"],
            "rules": {
                "no-console": "error",
                "@typescript-eslint/explicit-member-accessibility": "error"
            }
        }
    ]
}
